@keyframes loading {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

@keyframes fade {
  0% {
    visibility: visible;
    opacity: 1;
  }
  85% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: visible;
    opacity: 0;
  }
}

.animate-loading {
  animation-name: loading;
  animation-duration: 2s;
}

.animate-fade {
  animation-name: fade;
  animation-duration: 3s;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
